@use 'header.scss';
@use 'textArea.scss';
@use 'handler.scss';
@use 'footer.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, monospace;
}

body {
    background-color: #141432;
}

button {
    background: #141432;
    margin: .2em;
    padding: 1em;
    border-radius: 1em;
    border: 1px solid #3f51b5;
    color: #FFF;
    font-weight: 500;
    &:hover {
        background: #1d1e42;
        cursor: pointer;
    }
    &:focus {
        background-color: #3f51b5;
    }
}

#domContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    & section:nth-child(2) {
        height: inherit;
        display: inline-flex;
        width: 300vw;
        right: 0vw;
        position: relative;
        transition: .5s;
        transition-timing-function: cubic-bezier(1, 0, 0, 1);
    }
}